[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
Type=simple
User=admin
ExecStart=/usr/local/bin/cloudflared tunnel run
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target