[Unit]
Description=Monitor GitHub for Firmware Updates
After=network.target

[Service]
ExecStart=/bin/bash /home/admin/pi-box-firmware/scripts/update_monitor.sh
WorkingDirectory=/home/admin/pi-box-firmware
User=admin
Restart=always
RestartSec=5min
EnvironmentFile=/home/admin/pi-box-firmware/.env

[Install]
WantedBy=multi-user.target
